.display{
    display: flex;
    align-items: center;
}

.imagem{
    display: flex;
    width:1000px;
    flex-direction: row-reverse;
}
    .texto {
        display: flex;
        width: 2000px;
        height: 400px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-end;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .botao{
        display: flex;
    }