
* {
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100%;
    background-image: url(https://static.independentespanol.com/2022/05/18/16/iStock-177247796.jpg);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(235, 235, 235);
}


.display{
    display: flex;
    padding: 50px;
    color:beige;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    background-image: url(https://i.pinimg.com/originals/6d/c1/17/6dc11726798611a9e2fa758a02188bf9.gif);
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.texto{
    width: 800px;
    margin-left: 200px;
    margin-top: 20px;
}

.texto_resumo{
    font-size: 20px;
}

.
.cards{
    background: 100%;
    background-image:url(https://i.pinimg.com/736x/19/eb/07/19eb075af98275710f366ab07a31ae40.jpg);
    width: 400px;
    height: 200px;
    -webkit-box-shadow: 9px 7px 5px #343434;
    -moz-box-shadow:    9px 7px 5px #343434;
    box-shadow:         9px 7px 5px #343434;
    text-align:center;
}

button {
    margin-left: 320px;
    margin-top: 80px;
    display: block;
    font-size: 50px;
    border-radius: 20px;
    width: 300px;
    height: 80px;
}

.girar{
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.img:hover .girar{
transform: rotateY(180deg);
}

.imagem2{
    width: 55px;
    height: 35px;
}
.barra_menu{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.display2{
    text-align: center;
    padding: 20px;
    color:black;
    background-color: orangered;
}
.pai{
    display: flex;
    padding: 50px;
    background: black;
}

.hello{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orangered;
    -webkit-text-fill-color: black;
}

.minha_foto{
    border:4px solid orangered;
    float: left;
    border-radius: 50% 20%;
    width: 350px;
    height: 450px;
    shape-outside: inset(20px 5px 30px 10px);

}

.curiosidades{
        display: flex;
        width: 800px;        height: 500px;
        color: aliceblue;
        text-align: center;
        flex-direction:column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 15px;
        shape-outside: inset(20px 5px 30px 10px);
}

.curiosidades_curiosidades{
    color: #000000;
    background-color: orangered;
    width: 200px;
    border-radius: 20px 10px;
    shape-outside: inset(20px 5px 30px 10px);

}

.fotos{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.div_curiosidades{
    display: flex;
    width: 200px;
    height: 200px;
    color:black;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    shape-outside: inset(20px 5px 30px 10px);
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: oldlace;
}

.resumo{
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    border-radius: 50px;
    width: 900px;
    height: 480px;
}


.display5{
    color: aliceblue;
    background: linear-gradient(0, #120c56, #000000);
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
}
footer{
    color:lightslategray;
    align-items: center;
    padding: 15px;
    font-size: 30px;
    justify-items: center;
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/6d/c1/17/6dc11726798611a9e2fa758a02188bf9.gif);
}
